//FOOTER//

.upper-footer {
    @include flex (row,center,center);
    background-color: $color-secondary;
    width: 100%; 
          &__lista {
          @include flex (row,space-around,none);
          background-color: $color-secondary;
          width: 100%;
          padding: 1rem 2rem 0rem 2rem; 
            &__item  {
              @include flex (row,none,center);
                &__imagen {
                padding-right: 15px;
                height: 40px;
                width: 56px;
                object-fit: scale-down; }
              &__leyenda h3 {
                color: $color-primary;
                font-size: $font-small; }
              &__leyenda h4 {
                color: $color-primary;
                font-size: $font-xs; }
              }
          }
  }
  
  .lower-footer {
    @include flex (row,space-between,center);
    background-color: $color-primary;
    padding: 2rem;
        &__left nav ul li a {
        color: $color-neutralLight; 
        &:hover {
        color:$color-secondary; }
        }
      &__center{
        &__teléfono {
        @include flex (row,center,center);
            &__número{
            padding-left: 10px;
            padding-top: 20px;
            color: $color-neutralLight;
            margin-bottom: 20px;
            font-size: $font-small;
            }
          }
        &__copy {
        padding-top: 20px;
        color: $color-neutralLight;
        font-size: $font-xs; }  
  
        }
        &__right{
            & nav ul {
                @include flex (row,center,center);
                height: 100%; 
                    & li{
                  list-style: none;
                  padding-left: 15px; }
                }



        }
      }
  
  