.upper-footer {
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
          &__lista {
          background-color: $color-secondary;
          display: flex;
          width: 100%;
          justify-content: space-around;
          padding: 1rem 2rem 0rem 2rem; 
            &__item  {
              display: flex;
              align-items: center; 
              &__imagen {
                padding-right: 15px;
                height: 40px;
                width: 56px;
                object-fit: scale-down; }
              &__leyenda h4 {
                color: $color-primary;
                font-size: $font-medium; }
              &__leyenda h5 {
                color: $color-primary;
                font-size: $font-small; }
              }
          }
  }
  
  .lower-footer {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center; 
      &__left nav ul li a {
        color: $color-neutralLight; 
        &:hover {
        color:$color-secondary; }
        }
      &__center{
        &__teléfono {
        display: flex;
        justify-content: center;
        align-items: center;
              &__número{
            padding-left: 10px;
            padding-top: 20px;
            color: $color-neutralLight;
            margin-bottom: 20px;
            font-size: $font-small;
            }
          }
        &__copy {
        padding-top: 20px;
        color: $color-neutralLight;
        font-size: $font-xs; }  
  
        }
        &__right{
            & nav ul {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%; 
                    & li{
                  list-style: none;
                  padding-left: 15px; }
                }



        }
      }
  
  