
.contacto__main__titulo {
        text-align: center;
        padding: 30px;
        font-size: $font-size-title;
        color: $color-primary;
        font-weight: 600;
}
       
.contacto__section{
  padding-bottom: 50px;
  @include flex (row,space-around,space-around);
  flex-wrap: wrap;

    &__left{
      margin-top: 50px;
      @include flex (column,center, center);
      
        &__leyenda{
          text-align: center;

          &__title{
          padding-right: 20px;
          padding-left: 20px;          
          color: $color-accent;
          margin-top: 30px;
          margin-bottom: 30px;
          font-size: $font-small;
          font-weight: 600;}
          &__subtitle{
            color: $color-primary;
            padding-right: 20px;
            padding-left: 20px;  
            font-weight: 600;
           }
        }
    }
  

    &__right {
      margin: 20px;
          
      &__title{
        font-weight: 600;
        text-align: center;
        color: $color-primary;
        font-size: $font-medium;}

      &__redes{
        @include flex (column,center,center);
        padding-right: 1rem;
        &__titulo{
          text-align: center;
          color: $color-accent;
          font-size: $font-small;
          padding-top: 2rem;
          padding-bottom: 3rem;
          font-weight: 600;          
        }

        &__lista{
          @include flex (row,center,none);
          padding-right: 1,5rem;
                   
          &__item{
            padding: 10px;
          }
        }
      }
            
      .text-center {
      @include flex (column,none,center);
      background-color: #F3F6F6;
      border: 2px solid $color-primary;
      border-radius: 10px;
      max-width: fit-content; }

      .form-control{
        border: 1px solid $color-primary;
        width: 400px;
            &:hover{
              box-shadow: 0 1px 8px 0 $color-primary;
            }
            &:focus{
              box-shadow: 0 1px 8px 0 $color-accent;
            }
              
      }
  
       
      .btn-form {
      background-color: $color-primary;
      border-color: $color-primary;
      color:  $color-neutralLight;
      font-weight: 600;
  
        &:hover {
        background-color: $color-secondary; 
        color: $color-primary;}
        }
    }
  }