
.contacto__main {
    @include flex (row,space-around,center);
        &__left{
        max-width: max-content; }
      
      .contacto__titulo {
        font-size: $font-size-title;
        color: $color-primary;
        padding: 40px 0px 0px 30px; }
  
      .contacto__items {
          @include flex (row,space-around,flex-start);
          margin-top: 30px;
           
          .contacto__item {
            @include flex (row,none,none);
            list-style: none;
            margin-top: 20px;
  
            .contacto__leyenda {
              color: $color-primary;
              font-size: $font-small; }
  
            
            .wsp__telefono {
            padding-top: 5px;
            padding-left: 10px;
            height: 20px; 
            font-size: $font-small}
  
            .contacto__mail {
              @include flex (row,none,none);
              height: 30px; }
            
            .contacto__mail__direccion {
              padding-top: 20px;
              font-size: $font-small; }
            
            
            .contacto__redes {
              @include flex (row,center,none);
              margin-top: 20px; }
            
            .contacto__redes li {
              list-style: none;
              padding-left: 10px; }
            
            }
  
        }
  
  }
  
  
  .contacto__main__right {
    margin-top: 20px;
    margin-bottom: 20px;
  
      .text-center {
      @include flex (column,none,center);
      margin: 20px;
      border: 1px solid $color-accent !important;
      background-color: $color-accent !important;
      border-radius: 10px;
      max-width: fit-content; }
  
      #defaultContactFormName {
      width: 300px; }
  
      #defaultContactFormEmail {
      width: 300px; }
  
      #exampleFormControlTextarea1 {
      width: 300px; }
  
      #btsubmit {
      background-color: $color-neutralLight !important;
      border-color: $color-primary !important;
      color:  $color-primary !important;
  
        &:hover {
        background-color: $color-secondary; }
        }
    }
  