.nosotros__main {
     text-align: center;
     padding: 2rem;
      &__titulo {
        color: $color-accent;
        padding: 2rem;
        font-size: $font-size-title;
        font-weight: 600; }
      &__subtitulo {
          font-size: $font-medium;
          color: $color-accent;
          padding-bottom: 2rem; }
      &__descripcion {
        font-size: $font-small;
        color: $color-primary;
        font-weight: 600;
        line-height: 50px; }
}

.nosotros__section{

  &__titulo{
    color: $color-accent;
    font-size: $font-size-title;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__cards{
  @include flex (row,space-around,center)
  flex-wrap: wrap;
  margin-top: 20px;

      .card{
      border: none;
      @include flex (row,space-around,center)
      margin-left: 10px;
      margin-bottom: 10px;
      
        
        .card-img-top{
          width: 150px;
          height: 150px;
        }

        .card-body{
          @include flex (column,center,center)  
        
          .card-title{
          color: $color-accent;
          font-size: $font-small;
          font-weight: 600;
          text-align: center;
          }

          .card-text{
            padding-top: 10px;
            color: $color-primary;
            font-size: $font-xs;
            text-align: center;

          }
        }
      }

  }

}  
 