.ofertas__conteiner {
        
    .ofertas__main__titulo {
    font-size: $font-size-title;
    color: $color-primary;
    padding: 40px; }
  
    .ofertas__articulos {
    @include flex (row,flex-start,none);
    padding-right: 40px;
    padding-bottom: 100px;
  
      .oferta__articulo {
      margin-left: 5rem; }
  
    }
  }
  