main{
  background-color: $color-base;}

  .producto{
    display: flex;
    justify-content: center;
  }

  .productos__main__titulo {
      text-align: center;
      font-size: $font-size-title;
      color: $color-primary;
      padding: 40px 20px 0px 40px; }
  
  .productos__section {
    padding: 7rem 4rem 4rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;}
    
    
  
  

